In [270]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('/Users/yangshenyang/Desktop/untitled folder/baim/coursesvoyage_lpg_ballast_archive.csv',sep='|')

In [ ]:
#is_projection - f already happen

In [7]:
#emptyship (availability of empty LPG)
#region_sink - which is the critical sink that we are going to analyze
#date that LPG is filled in the ship

In [25]:
df2 = pd.read_csv('/Users/yangshenyang/Desktop/untitled folder/baim/courses/voyage_lpg_ballast.csv',sep='|')

In [89]:
#collect all poi_arrive
region={}
for r in set(df2['poi_arrive']):
    region[r]=list(set((df2[df2['poi_arrive']==r]['region_sink'])))

In [267]:
# fullsort = df3.sort(['vessel','date_depart']).reset_index()

# duplicate = []
# poi_arrive = []
# date_arrive = []
# grade = []
# bbls = []
# mt = []
# i = 0

# while i < range(len(fullsort)):
#     date = fullsort.ix[i,'date_depart']
#     a = i + 1
#     while fullsort.ix[a,'date_depart']==date:
#         duplicate.append(i)
#         poi_arrive.append(fullsort.ix[a,'poi_arrive'])
#         date_arrive.append(fullsort.ix[a,'date_arrive'])
#         grade.append(fullsort.ix[a,'grade'])
#         bbls.append(fullsort.ix[a,'bbls'])
#         mt.append(fullsort.ix[a,'mt'])
#         if a >= range(len(fullsort)):
#             break
#         else:
#             a += 1
#     i = a
#     print i

In [362]:
# temp  = {'index':duplicate,'poi_arrive':poi_arrive,'date_arrive':date_arrive,'grade':grade,'bbls':bbls,'mt':mt}
# temp = pd.DataFrame(data=temp)
# temp.to_csv('/Users/yangshenyang/Desktop/untitled folder/baim/courses/fullship_arrival.csv',index=False)

In [284]:
# temp_count = temp.groupby(['index']).size().reset_index(name='counts')
# temp_count

In [280]:
# emptysort = df2.sort(['vessel','date_load']).reset_index()

# for index in temp_count['index']:
#     date = fullsort.ix[index,'date_depart']
#     if date in list(emptysort['date_load']):
#         row = emptysort[emptysort['date_load']==date]
# #         print row
#         emptysort = emptysort.append([row]*int(temp_count[temp_count['index']==index]['counts']) ,ignore_index=True)
#         print index
#     else:
#         continue

In [281]:
# emptysort.to_csv('/Users/yangshenyang/Desktop/untitled folder/baim/courses/emptysort.csv',index=False)

In [282]:
# precombine = emptysort.sort(['vessel','date_depart']).reset_index()
# del precombine['level_0']
# del precombine['index']
# precombine

In [387]:
precombine.head()

,vessel,poi_depart,date_depart,region_sink,poi_arrive,date_arrive,date_load_depart
0,50,103861,2014-02-11 04:01:40.503,AG,100104,2014-03-09 20:00:48.76,2014-03-11 06:02:22.86
1,50,103861,2014-02-11 04:01:40.503,AG,100104,2014-03-09 20:00:48.76,2014-03-11 06:02:22.86
2,50,104003,2014-04-09 04:01:13.483,SOZ,103665,2014-04-24 08:00:48.927,2014-04-27 09:00:49.137
3,50,103861,2014-05-12 22:06:42,KOR,104738,2014-05-14 01:08:40,2014-05-15 02:07:49
4,50,101420,2014-05-19 00:23:34.403,AG,100052,2014-06-08 21:28:34.497,2014-06-09 00:00:11.247

In [388]:
fullsort[['poi_depart','poi_arrive']]=fullsort[['poi_depart','poi_arrive']].astype(str)
precombine[['poi_depart','poi_arrive']]=precombine[['poi_depart','poi_arrive']].astype(str)

In [449]:
# #change column name for empty and full ship to prepare for merge
# fullsort.rename(columns={'date_depart':'date_load_depart'},inplace=True)
# precombine.rename(columns={'date_load':'date_load_depart'},inplace=True)

# #create merge file
# full = pd.merge(precombine,fullsort,how='outer',on=['vessel','date_load_depart'])
# full = full.drop_duplicates()
# len(full)

# #sort full
# full = full.sort(['vessel','date_load_depart','date_depart','date_arrive_y']).reset_index()
# del full['index']

# full[['date_depart','date_arrive_x','date_load_depart','date_arrive_y']]=full[['date_depart','date_arrive_x','date_load_depart','date_arrive_y']].apply(pd.to_datetime)

# full.to_csv('/Users/yangshenyang/Desktop/untitled folder/baim/courses/empty_full.csv',index=False)

In [450]:
# del full['index']
# del full['shipper']
# del full['consignee']
# del full['source']

v50 = full[full['vessel']==50]
v50

,vessel,poi_depart_x,date_depart,region_sink,poi_arrive_x,date_arrive_x,date_load_depart,poi_depart_y,poi_arrive_y,date_arrive_y,grade,bbls,mt
0,50,NaN,NaT,NaN,NaN,NaT,2014-01-23 21:24:07.490,100133,103861,2014-02-10 00:00:27.243,NG003,583118.0,46649.433600
1,50,103861,2014-02-11 04:01:40.503,AG,100104,2014-03-09 20:00:48.760,2014-03-11 06:02:22.860,100104,102497,2014-04-01 09:26:38.047,NG003,282064.0,22565.139489
2,50,103861,2014-02-11 04:01:40.503,AG,100104,2014-03-09 20:00:48.760,2014-03-11 06:02:22.860,100104,104003,2014-04-07 09:00:22.000,NG003,282064.0,22565.139489
3,50,104003,2014-04-09 04:01:13.483,SOZ,103665,2014-04-24 08:00:48.927,2014-04-27 09:00:49.137,103665,103861,2014-05-12 04:03:38.130,NG003,583118.0,46649.433600
4,50,103861,2014-05-12 22:06:42.000,KOR,104738,2014-05-14 01:08:40.000,2014-05-15 02:07:49.000,104738,101420,2014-05-16 07:04:34.923,CH042,583118.0,46649.433600
5,50,101420,2014-05-19 00:23:34.403,AG,100052,2014-06-08 21:28:34.497,2014-06-09 00:00:11.247,100052,103861,2014-06-27 22:12:03.000,NG003,583118.0,46649.433600
6,50,103861,2014-06-29 04:07:22.637,AG,100015,2014-07-17 09:04:10.567,2014-07-18 00:22:11.963,100015,103770,2014-08-05 21:10:41.000,NG003,294504.0,23560.320000
7,50,103861,2014-06-29 04:07:22.637,AG,100015,2014-07-17 09:04:10.567,2014-07-18 00:22:11.963,100015,104007,2014-08-09 04:24:24.000,NG003,294504.0,23560.320000
8,50,104007,2014-08-10 23:03:21.483,AG,100015,2014-09-02 10:22:14.413,2014-09-03 09:01:11.880,100015,102166,2014-09-21 00:00:20.000,NG003,294504.0,23560.320000
9,50,104007,2014-08-10 23:03:21.483,AG,100015,2014-09-02 10:22:14.413,2014-09-03 09:01:11.880,100015,102217,2014-09-22 01:30:14.000,NG003,294504.0,23560.320000
10,50,102217,2014-09-22 23:17:36.000,AG,100141,2014-10-14 07:00:13.440,2014-10-15 19:00:06.567,100141,102433,2014-11-02 06:26:13.000,NG003,294504.0,23560.320000
11,50,102217,2014-09-22 23:17:36.000,AG,100141,2014-10-14 07:00:13.440,2014-10-15 19:00:06.567,100141,102497,2014-11-04 00:04:29.000,NG003,294504.0,23560.320000
12,50,102497,2014-11-05 05:11:22.000,AG,100104,2014-11-24 23:00:50.757,2014-11-26 05:03:06.043,100104,104997,2014-12-08 15:37:47.000,NG003,589008.0,47120.640000
13,50,104997,2014-12-10 18:11:46.900,AG,100132,2014-12-24 02:15:45.000,2014-12-24 07:09:28.000,100132,103861,2015-01-11 22:48:02.000,NG003,583118.0,46649.433600
14,50,103861,2015-01-13 04:05:56.000,AG,100133,2015-02-03 09:08:52.583,2015-02-03 11:41:42.000,100133,104943,2015-02-22 00:57:41.000,NG003,294504.0,23560.320000
15,50,103861,2015-01-13 04:05:56.000,AG,100133,2015-02-03 09:08:52.583,2015-02-03 11:41:42.000,100133,104938,2015-02-25 02:17:32.000,NG003,294504.0,23560.320000
16,50,104938,2015-02-25 07:30:49.000,RSEA,104901,2015-03-22 04:58:24.000,2015-03-23 19:07:36.000,104901,104855,2015-04-20 23:03:31.797,NG003,564128.0,45130.278978
17,50,104855,2015-04-21 00:03:31.797,USG,227,2015-06-22 23:37:30.000,2015-06-25 10:55:06.000,227,102497,2015-08-09 02:50:26.000,NG002,586977.0,47161.707000
18,50,102497,2015-08-10 07:00:20.000,AG,100015,2015-08-31 00:58:15.000,2015-09-01 09:16:09.000,100015,104679,2015-09-20 04:50:51.000,NG003,583118.0,46649.433600
19,50,104679,2015-09-20 05:50:51.000,USG,337,2015-10-30 23:20:31.000,2015-11-05 12:43:31.000,337,104728,2015-11-20 21:00:34.000,NG002,294504.0,23560.320000
20,50,104679,2015-09-20 05:50:51.000,USG,337,2015-10-30 23:20:31.000,2015-11-05 12:43:31.000,337,104390,2015-11-24 13:00:28.000,NG002,294504.0,23560.320000
21,50,104390,2015-11-24 14:00:28.000,USG,337,2015-12-10 21:00:53.000,2015-12-15 13:12:51.000,337,100826,2015-12-17 17:59:57.000,NG002,528813.0,42305.050700
22,50,100826,2015-12-22 13:59:13.000,WMED,100700,2016-01-04 19:56:29.000,2016-01-09 18:15:24.000,100700,101420,2016-02-05 10:52:23.000,NG003,589008.0,47120.640000
23,50,101420,2016-02-05 23:33:19.000,AG,100015,2016-02-26 23:02:34.000,2016-02-27 20:26:25.000,100015,102326,2016-03-18 03:51:04.000,NG003,294504.0,23560.320000
24,50,101420,2016-02-05 23:33:19.000,AG,100015,2016-02-26 23:02:34.000,2016-02-27 20:26:25.000,100015,102134,2016-03-20 00:55:11.000,NG003,294504.0,23560.320000
25,50,NaN,NaT,NaN,NaN,NaT,2016-03-20 22:58:11.000,102134,102166,2016-03-21 02:54:03.000,CH042,583118.0,46649.433600
26,50,102166,2016-03-22 00:00:26.000,AG,100133,2016-04-10 22:14:17.000,2016-04-12 19:20:53.000,100133,102921,2016-04-30 08:11:50.000,NG003,581486.0,46518.902947
27,50,102921,2016-05-02 23:55:56.000,USG,227,2016-06-15 03:56:19.000,2016-06-15 23:14:06.000,227,101420,2016-08-05 17:00:26.000,NG002,294504.0,23560.320000
28,50,102921,2016-05-02 23:55:56.000,USG,227,2016-06-15 03:56:19.000,2016-06-15 23:14:06.000,227,102433,2016-08-15 03:01:06.000,NG002,294504.0,23560.320000
29,50,NaN,NaT,NaN,NaN,NaT,2016-08-16 01:00:26.000,102433,102055,2016-08-18 12:54:37.000,CH042,697659.0,46649.433600
30,50,102055,2016-08-18 21:48:37.000,USG,229,2016-10-13 12:24:34.000,2016-10-16 12:00:34.000,229,102921,2016-11-20 08:17:41.000,NG002,520000.0,41600.000000
31,50,102921,2016-11-22 23:55:36.000,AG,100104,2016-12-15 09:03:36.000,2016-12-15 14:06:37.000,100104,101865,2016-12-31 13:58:15.000,NG003,294504.0,23560.320000
32,50,102921,2016-11-22 23:55:36.000,AG,100104,2016-12-15 09:03:36.000,2016-12-15 14:06:37.000,100104,102715,2017-01-06 03:56:54.000,NG003,294504.0,23560.320000
33,50,102715,2017-01-07 23:53:50.000,USG,101542,2017-02-08 01:25:18.000,2017-02-09 18:55:58.000,101542,102715,2017-03-14 05:43:38.000,NG002,592788.0,47423.000000
34,50,102715,2017-03-14 22:43:38.000,AG,100133,2017-04-05 21:26:56.000,2017-04-07 02:26:56.000,100133,104996,2017-04-16 22:19:42.000,NG003,589008.0,47120.640000
35,50,104996,2017-04-16 23:19:42.000,USG,101542,2017-05-26 16:34:55.000,2017-05-29 19:53:03.000,101542,103239,2017-06-21 15:57:29.000,NG002,525000.0,42000.000000
36,50,103239,2017-06-23 13:00:34.000,USG,101542,2017-07-19 03:57:15.000,2017-07-21 19:55:37.000,101542,102356,2017-08-19 02:52:27.000,NG002,550000.0,44000.000000
37,50,102356,2017-08-20 23:52:27.000,AG,100141,2017-09-07 13:27:54.000,2017-09-09 14:11:05.000,100141,102715,2017-09-26 07:59:03.000,NG003,294504.0,23560.320000
38,50,102356,2017-08-20 23:52:27.000,AG,100141,2017-09-07 13:27:54.000,2017-09-09 14:11:05.000,100141,102958,2017-09-30 11:43:24.000,NG003,294504.0,23560.320000
39,50,102958,2017-10-03 03:33:43.000,USG,101542,2017-11-04 13:00:35.000,2017-11-06 11:58:22.000,NaN,NaN,NaT,NaN,NaN,NaN

In [511]:
# add a column recording days of empty

# empty_days = []
# #calculate empty days
# for i in range(len(full)):  
#     if str(full['date_depart'][i])!='NaT': 
#         time1 = full['date_depart'][i]
#         time2 = full['date_arrive_x'][i]
#         time = time2 - time1
#         empty_days.append(pd.to_numeric(time.days))
#     else:
#         empty_days.append('NaN')
        
# full = full.assign(empty_days=empty_days)
# full=full[['vessel','poi_depart_x','date_depart','region_sink','poi_arrive_x','date_arrive_x',
#          'empty_days','date_load_depart','poi_depart_y','poi_arrive_y','date_arrive_y','grade','bbls','mt']]

In [649]:
# v50 = full[full['vessel']==50]
schedule_v50 = v50.ix[:,['poi_depart_x','region_sink','poi_arrive_x','poi_arrive_y']]
schedule_v50 = schedule_v50.rename(columns={'poi_depart_x':'empty_poi_depart','poi_arrive_x':'empty_to_full_poi_arrive','poi_arrive_y':'full_poi_arrive'})
schedule_v50[:13]

   empty_poi_depart region_sink empty_to_full_poi_arrive full_poi_arrive
0               NaN         NaN                      NaN          103861
1            103861          AG                   100104          102497
2            103861          AG                   100104          104003
3            104003         SOZ                   103665          103861
4            103861         KOR                   104738          101420
5            101420          AG                   100052          103861
6            103861          AG                   100015          103770
7            103861          AG                   100015          104007
8            104007          AG                   100015          102166
9            104007          AG                   100015          102217
10           102217          AG                   100141          102433
11           102217          AG                   100141          102497
12           102497          AG                   100104          104997

# Mean Empty Days

In [529]:
# # meanEmptyDays = []

# precombine[['date_depart','date_arrive','date_load_depart']]=precombine[['date_depart','date_arrive','date_load_depart']].apply(pd.to_datetime)

# empty_days = []
# #calculate empty days
# for i in range(len(precombine)):  
#     time1 = precombine['date_depart'][i]
#     time2 = precombine['date_arrive'][i]
#     time = time2 - time1
#     empty_days.append(pd.to_numeric(time.days))
        
# precombine = precombine.assign(empty_days=empty_days)
# precombine=precombine[['vessel','poi_depart','date_depart','region_sink','poi_arrive','date_arrive','empty_days',
#          'date_load_depart']]  

# precombine.to_csv('/Users/yangshenyang/Desktop/untitled folder/baim/courses/Clipper - Processing/empty.csv',index=False)

In [537]:
#after processed by pivot table..
# meanEmptyDays = pd.read_csv('/Users/yangshenyang/Desktop/untitled folder/baim/courses/vessel_empty_region_days.csv')

In [538]:
meanEmptyDays.head()

,Vessel,AG,BALT,BSEA,CAR,CH-C,CH-N,CH-S,CMED,EAF,...,USAC,USG,USWC,VNM,WAF,WCI,WCMX,WCSA,WMED,WOZ
0,50,20.272727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,38.727273,NaN,NaN,NaN,NaN,NaN,NaN,13.000000,NaN
1,170,NaN,3.4,NaN,11.750000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,599,NaN,NaN,NaN,8.734513,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.0,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,14.347826,NaN
4,717,NaN,NaN,44.0,14.000000,NaN,NaN,NaN,NaN,NaN,...,8.0,18.642857,14.0,NaN,36.0,NaN,NaN,19.6,NaN,NaN

# Most Frequent Region

In [616]:
# precombine.groupby(['region_sink'])['vessel'].count()

# Annual load per vessal

In [617]:
# annualLoad = fullsort.groupby(['vessel'])['bbls'].sum().reset_index(name='total_bbls')

In [653]:
# annualLoad = annualLoad.sort(['total_bbls'],ascending=False).reset_index()
# del annualLoad['index']
# annualLoad

# EmptyShip Most Frequent Region

In [655]:
# freEmptyRegion=pd.read_csv('/Users/yangshenyang/Desktop/untitled folder/baim/courses/empty_regionsink_percentage.csv')
# freEmptyRegion=freEmptyRegion.ix[:,1:40].apply(pd.to_numeric)
freEmptyRegion.head()

,AG,BALT,BSEA,CAR,CH0C,CH0N,CH0S,CMED,EAF,ECI,...,USAC,USG,USWC,VNM,WAF,WCI,WCMX,WCSA,WMED,WOZ
0,0.59,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.30,0.00,0.0,0.00,0.0,0.0,0.00,0.03,0.0
1,0.00,0.56,0.00,0.09,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.0
2,0.00,0.00,0.00,1.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.00,0.0
3,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.02,0.03,0.00,0.0,0.00,0.0,0.0,0.00,0.38,0.0
4,0.00,0.00,0.04,0.04,0.0,0.0,0.0,0.0,0.0,0.0,...,0.09,0.61,0.02,0.0,0.07,0.0,0.0,0.11,0.00,0.0

In [662]:
freEmptyRegion['CH0C'].dtypes

dtype('float64')

# full vessel without empty vessel

In [419]:
#verify if all vessel from d2 are in d3
# len(set(df2['vessel']))
# len(set(df3['vessel']))
# len(set(full['vessel']))

# for ship in list(set(df2['vessel'])):
#     if ship not in list(set(df3['vessel'])):
#         print ship
        
#all vessel from d2 are in d3

#get list of ships that are not in d2
# ship_missingempty=[]

# for ship in list(set(df3['vessel'])):
#     if ship not in list(set(df2['vessel'])):
#         ship_missingempty.append(ship)

len(ship_missingempty)

34

In [539]:
full

,vessel,poi_depart_x,date_depart,region_sink,poi_arrive_x,date_arrive_x,empty_days,date_load_depart,poi_depart_y,poi_arrive_y,date_arrive_y,grade,bbls,mt
0,50,NaN,NaT,NaN,NaN,NaT,NaN,2014-01-23 21:24:07.490,100133,103861,2014-02-10 00:00:27.243,NG003,583118.0,46649.433600
1,50,103861,2014-02-11 04:01:40.503,AG,100104,2014-03-09 20:00:48.760,26,2014-03-11 06:02:22.860,100104,102497,2014-04-01 09:26:38.047,NG003,282064.0,22565.139489
2,50,103861,2014-02-11 04:01:40.503,AG,100104,2014-03-09 20:00:48.760,26,2014-03-11 06:02:22.860,100104,104003,2014-04-07 09:00:22.000,NG003,282064.0,22565.139489
3,50,104003,2014-04-09 04:01:13.483,SOZ,103665,2014-04-24 08:00:48.927,15,2014-04-27 09:00:49.137,103665,103861,2014-05-12 04:03:38.130,NG003,583118.0,46649.433600
4,50,103861,2014-05-12 22:06:42.000,KOR,104738,2014-05-14 01:08:40.000,1,2014-05-15 02:07:49.000,104738,101420,2014-05-16 07:04:34.923,CH042,583118.0,46649.433600
5,50,101420,2014-05-19 00:23:34.403,AG,100052,2014-06-08 21:28:34.497,20,2014-06-09 00:00:11.247,100052,103861,2014-06-27 22:12:03.000,NG003,583118.0,46649.433600
6,50,103861,2014-06-29 04:07:22.637,AG,100015,2014-07-17 09:04:10.567,18,2014-07-18 00:22:11.963,100015,103770,2014-08-05 21:10:41.000,NG003,294504.0,23560.320000
7,50,103861,2014-06-29 04:07:22.637,AG,100015,2014-07-17 09:04:10.567,18,2014-07-18 00:22:11.963,100015,104007,2014-08-09 04:24:24.000,NG003,294504.0,23560.320000
8,50,104007,2014-08-10 23:03:21.483,AG,100015,2014-09-02 10:22:14.413,22,2014-09-03 09:01:11.880,100015,102166,2014-09-21 00:00:20.000,NG003,294504.0,23560.320000
9,50,104007,2014-08-10 23:03:21.483,AG,100015,2014-09-02 10:22:14.413,22,2014-09-03 09:01:11.880,100015,102217,2014-09-22 01:30:14.000,NG003,294504.0,23560.320000
10,50,102217,2014-09-22 23:17:36.000,AG,100141,2014-10-14 07:00:13.440,21,2014-10-15 19:00:06.567,100141,102433,2014-11-02 06:26:13.000,NG003,294504.0,23560.320000
11,50,102217,2014-09-22 23:17:36.000,AG,100141,2014-10-14 07:00:13.440,21,2014-10-15 19:00:06.567,100141,102497,2014-11-04 00:04:29.000,NG003,294504.0,23560.320000
12,50,102497,2014-11-05 05:11:22.000,AG,100104,2014-11-24 23:00:50.757,19,2014-11-26 05:03:06.043,100104,104997,2014-12-08 15:37:47.000,NG003,589008.0,47120.640000
13,50,104997,2014-12-10 18:11:46.900,AG,100132,2014-12-24 02:15:45.000,13,2014-12-24 07:09:28.000,100132,103861,2015-01-11 22:48:02.000,NG003,583118.0,46649.433600
14,50,103861,2015-01-13 04:05:56.000,AG,100133,2015-02-03 09:08:52.583,21,2015-02-03 11:41:42.000,100133,104943,2015-02-22 00:57:41.000,NG003,294504.0,23560.320000
15,50,103861,2015-01-13 04:05:56.000,AG,100133,2015-02-03 09:08:52.583,21,2015-02-03 11:41:42.000,100133,104938,2015-02-25 02:17:32.000,NG003,294504.0,23560.320000
16,50,104938,2015-02-25 07:30:49.000,RSEA,104901,2015-03-22 04:58:24.000,24,2015-03-23 19:07:36.000,104901,104855,2015-04-20 23:03:31.797,NG003,564128.0,45130.278978
17,50,104855,2015-04-21 00:03:31.797,USG,227,2015-06-22 23:37:30.000,62,2015-06-25 10:55:06.000,227,102497,2015-08-09 02:50:26.000,NG002,586977.0,47161.707000
18,50,102497,2015-08-10 07:00:20.000,AG,100015,2015-08-31 00:58:15.000,20,2015-09-01 09:16:09.000,100015,104679,2015-09-20 04:50:51.000,NG003,583118.0,46649.433600
19,50,104679,2015-09-20 05:50:51.000,USG,337,2015-10-30 23:20:31.000,40,2015-11-05 12:43:31.000,337,104728,2015-11-20 21:00:34.000,NG002,294504.0,23560.320000
20,50,104679,2015-09-20 05:50:51.000,USG,337,2015-10-30 23:20:31.000,40,2015-11-05 12:43:31.000,337,104390,2015-11-24 13:00:28.000,NG002,294504.0,23560.320000
21,50,104390,2015-11-24 14:00:28.000,USG,337,2015-12-10 21:00:53.000,16,2015-12-15 13:12:51.000,337,100826,2015-12-17 17:59:57.000,NG002,528813.0,42305.050700
22,50,100826,2015-12-22 13:59:13.000,WMED,100700,2016-01-04 19:56:29.000,13,2016-01-09 18:15:24.000,100700,101420,2016-02-05 10:52:23.000,NG003,589008.0,47120.640000
23,50,101420,2016-02-05 23:33:19.000,AG,100015,2016-02-26 23:02:34.000,20,2016-02-27 20:26:25.000,100015,102326,2016-03-18 03:51:04.000,NG003,294504.0,23560.320000
24,50,101420,2016-02-05 23:33:19.000,AG,100015,2016-02-26 23:02:34.000,20,2016-02-27 20:26:25.000,100015,102134,2016-03-20 00:55:11.000,NG003,294504.0,23560.320000
25,50,NaN,NaT,NaN,NaN,NaT,NaN,2016-03-20 22:58:11.000,102134,102166,2016-03-21 02:54:03.000,CH042,583118.0,46649.433600
26,50,102166,2016-03-22 00:00:26.000,AG,100133,2016-04-10 22:14:17.000,19,2016-04-12 19:20:53.000,100133,102921,2016-04-30 08:11:50.000,NG003,581486.0,46518.902947
27,50,102921,2016-05-02 23:55:56.000,USG,227,2016-06-15 03:56:19.000,43,2016-06-15 23:14:06.000,227,101420,2016-08-05 17:00:26.000,NG002,294504.0,23560.320000
28,50,102921,2016-05-02 23:55:56.000,USG,227,2016-06-15 03:56:19.000,43,2016-06-15 23:14:06.000,227,102433,2016-08-15 03:01:06.000,NG002,294504.0,23560.320000
29,50,NaN,NaT,NaN,NaN,NaT,NaN,2016-08-16 01:00:26.000,102433,102055,2016-08-18 12:54:37.000,CH042,697659.0,46649.433600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88180,5599694,NaN,NaT,NaN,NaN,NaT,NaN,2016-09-30 09:00:30.000,104067,101211,2016-10-02 11:58:56.000,CH037,25703.0,1718.640000
88181,5599694,NaN,NaT,NaN,NaN,NaT,NaN,2016-09-30 09:00:30.000,104067,104067,2016-10-06 11:00:48.000,CH037,25703.0,1718.640000
88182,5599694,NaN,NaT,NaN,NaN,NaT,NaN,2016-10-07 17:00:45.000,104067,101211,2016-10-10 15:56:22.000,CH037,25703.0,1718.640000
88183,5599694,NaN,NaT,NaN,NaN,NaT,NaN,2016-10-07 17:00:45.000,104067,104067,2016-10-13 16:00:15.000,CH037,25703.0,1718.640000
88184,5599694,104067,2016-10-14 11:00:15.000,ECSA,101200,2016-10-21 14:59:00.000,7,2016-10-22 10:59:00.000,101200,103241,2016-12-13 02:55:17.000,NG003,21483.0,1718.640000
88185,5599694,104067,2016-10-14 11:00:15.000,ECSA,101200,2016-10-21 14:59:00.000,7,2016-10-22 10:59:00.000,101200,106968,2016-12-23 01:00:25.000,CH042,25703.0,1718.640000
88186,5599694,NaN,NaT,NaN,NaN,NaT,NaN,2016-12-14 05:55:16.000,103241,106968,2016-12-23 01:00:25.000,CH042,25703.0,1718.640000
88187,5599694,NaN,NaT,NaN,NaN,NaT,NaN,2016-12-14 05:55:16.000,103241,103241,2016-12-31 04:56:15.000,NG003,21483.0,1718.640000
88188,5599694,106968,2016-12-24 00:59:12.000,ECSA,103241,2016-12-31 04:56:15.000,7,2017-01-01 07:23:55.000,103241,106968,2017-01-05 10:00:55.000,CH042,51406.0,3437.280000
88189,5599694,106968,2017-01-06 13:52:33.000,ECSA,103241,2017-01-11 19:55:39.000,5,2017-01-12 20:49:51.000,103241,106968,2017-01-19 10:45:41.000,CH042,25962.0,1736.000000
88190,5599694,106968,2017-01-06 13:52:33.000,ECSA,103241,2017-01-11 19:55:39.000,5,2017-01-12 20:49:51.000,103241,106973,2017-01-28 17:58:35.000,NG003,21700.0,1736.000000
88191,5601254,NaN,NaT,NaN,NaN,NaT,NaN,2014-02-04 00:40:39.935,103866,103884,2014-02-05 08:03:43.900,NG003,22762.0,1820.926800
88192,5601254,NaN,NaT,NaN,NaN,NaT,NaN,2014-02-04 00:40:39.935,103866,102694,2014-02-08 06:09:56.000,NG003,22762.0,1820.926800
88193,5601254,102694,2014-02-09 06:11:26.000,KOR,103866,2014-02-13 00:43:46.111,3,2014-02-14 04:36:31.687,103866,102694,2014-02-19 06:15:16.000,NG003,22992.0,1839.320000
88194,5601254,102694,2014-02-09 06:11:26.000,KOR,103866,2014-02-13 00:43:46.111,3,2014-02-14 04:36:31.687,103866,103866,2014-02-23 00:43:38.170,NG003,22992.0,1839.320000
88195,5601254,NaN,NaT,NaN,NaN,NaT,NaN,2014-02-23 09:16:54.030,103866,103865,2014-02-23 20:01:45.003,NG003,22762.0,1820.926800
88196,5601254,NaN,NaT,NaN,NaN,NaT,NaN,2014-02-23 09:16:54.030,103866,101773,2014-02-28 02:03:20.167,NG003,22762.0,1820.926800
88197,5601254,101773,2014-03-02 03:01:08.213,UKC,104380,2014-03-14 05:33:11.000,12,2014-03-14 06:33:11.807,104380,100517,2014-03-21 22:58:34.796,CH042,27233.0,1820.926800
88198,5601254,101773,2014-03-02 03:01:08.213,UKC,104380,2014-03-14 05:33:11.000,12,2014-03-14 06:33:11.807,104380,101420,2014-03-23 07:44:54.608,NG003,22762.0,1820.926800
88199,5601254,101420,2014-03-23 08:44:54.608,THAI,101291,2014-04-01 00:13:19.000,8,2014-04-02 13:10:37.790,101291,105775,2014-04-12 04:52:05.139,CH042,55015.0,3678.640000
88200,5601254,105775,2014-04-13 22:04:27.163,UKC,104446,2015-03-10 04:18:05.000,330,2015-03-10 18:07:00.000,104446,105092,2015-06-22 02:00:00.000,CH042,54465.0,3641.853600
88201,5601254,105092,2015-06-26 01:14:16.000,EMED,105004,2015-08-24 09:24:41.000,59,2015-08-25 15:46:14.000,105004,103757,2015-09-26 22:15:11.000,NG003,45983.0,3678.640000
88202,5601254,103757,2015-09-28 05:37:59.000,WCI,103022,2016-01-14 15:59:21.000,108,2016-01-19 09:00:31.000,103022,101420,2016-02-09 19:53:48.000,CH042,55015.0,3678.640000
88203,5601254,101420,2016-02-11 20:30:59.000,KOR,103770,2016-06-22 14:30:32.000,131,2016-06-24 02:31:33.000,103770,101388,2016-07-13 02:43:19.000,NG003,45523.0,3641.853600
88204,5601254,101388,2016-07-17 00:33:47.000,SPOR,106550,2016-08-15 00:00:00.000,28,2016-08-15 19:00:00.000,106550,101774,2016-08-21 00:55:53.000,NG003,45983.0,3678.640000
88205,5601254,101774,2016-08-22 13:46:23.000,AG,103155,2016-09-23 04:56:11.000,31,2016-09-23 06:33:39.000,103155,102815,2016-10-01 09:44:07.000,NG003,45523.0,3641.853600
88206,5601254,102815,2016-10-01 10:44:07.000,AG,103155,2016-10-05 09:54:01.000,3,2016-10-08 11:38:04.000,103155,102815,2016-10-14 09:00:23.000,NG003,45523.0,3641.853600
88207,5601254,102815,2016-10-14 11:22:03.000,AG,101193,2016-12-27 12:56:20.000,74,2016-12-28 23:32:16.000,101193,103988,2017-02-04 21:54:02.000,NG003,45523.0,3641.853600
88208,5601254,103988,2017-02-05 15:00:30.000,AG,101197,2017-03-04 20:56:02.000,27,2017-03-06 14:15:12.000,101197,103988,2017-04-03 08:00:55.000,NG003,45523.0,3641.853600
88209,5601254,103988,2017-04-06 03:55:34.000,AG,101193,2017-10-09 05:55:11.000,186,2017-10-11 06:41:22.000,NaN,NaN,NaT,NaN,NaN,NaN

In [6]:
#fullship
#grade: oil type
#bbls: (maybe is the Y)
#mt = bbls*1/8

#Question: for each vessal, each type of oil, how much bbls can be shipped?

In [27]:
df3 = pd.read_csv('/Users/yangshenyang/Desktop/untitled folder/baim/coursesPurdue_Lanham_Data/voyage_lpg.csv',sep='|')